.idea/*
.vs/*
.vscode/*
.next/*
.vercel/*
node_modules/*
coverage/*
build/*
out/*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env.production
.env.development
.env.test
tsconfig.tsbuildinfo
