@import "tailwindcss";

@plugin "daisyui" {
	themes: dark --default;
}

@plugin "daisyui/theme" {
	name: dark;
	color-scheme: dark;
	--radius-selector: 1.9rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
}

html,
body {
	@apply bg-[#0b0b0e] text-gray-300 scroll-smooth;
}

progress::-webkit-progress-value {
	@apply transition-[width] ease-out duration-700;
}
